/core/core.iml
/desktop/desktop.iml
/ios/ios.iml
/unicorn.iml
/android/android.iml
/local.properties
.gradle/2.4/
.idea/
/ios/robovm-build
/ios/build
/build
/android/build
/core/build
/desktop/build
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
android/build/
captures/
